<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623649012359-kp9pc7blts0n21tkm0b9e1hpd8sm4gu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623649012359-kp9pc7blts0n21tkm0b9e1hpd8sm4gu3</string>
	<key>API_KEY</key>
	<string>AIzaSyBI7W0Modg25kOcILEPQ9qzS6bG8BLYwcw</string>
	<key>GCM_SENDER_ID</key>
	<string>623649012359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shoppy</string>
	<key>PROJECT_ID</key>
	<string>shoppy-7c23b</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppy-7c23b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623649012359:ios:474fbe3afb5d3f01091622</string>
</dict>
</plist>